@import url('http://fonts.cdnfonts.com/css/gotham');

body {
    font-family: 'Gotham', sans-serif;
    font-style: normal;
    font-weight: 400;
    hyphens: auto;
}

.rowan_yellow_bg {
    background-color: #FFCC00;

}

.rowan_brown_bg {
    background-color: #57150B;
}

nav ul {
    display: inline;
}

nav ul li {
    float: right;
    list-style-type: none;

}

#id {
    float: left;
    max-width: fit-content;
    width: 200px;


}